<div id="container" class="max-w-2xl lg:max-w-4xl px-14 md:px-0 mx-auto py-12">
  <h1
    class="text-stone-200 font-medium text-4xl flex items-center justify-center md:justify-start"
  >
    todo
    <span class="text-secondary font-bold">app</span>
    <ng-icon name="heroCheck" class="text-4xl py-1 text-secondary"></ng-icon>
  </h1>

  <div class="flex gap-8 pt-12">
    <!--Side bar(proyects and filters)-->
    <div
      class="flex flex-col gap-y-10 min-h-[420px] bg-primary p-5 rounded-2xl md:w-[320px] shadow-lg"
    >
      <div class="flex flex-col">
        <h3
          class="flex w-full justify-between text-lg pb-4 font-semibold text-secondary"
        >
          Proyects
          <button>
            <ng-icon
              name="heroPlus"
              class="text-2xl py-1 text-textC hover:text-textCHover"
              (click)="this.addProyect()"
            ></ng-icon>
          </button>
        </h3>

        <ul class="list-none flex flex-col gap-2">
          <li
            *ngFor="let p of proyects"
            class="flex items-center text-textC gap-2 px-2 py-2 rounded-xl hover:bg-cards cursor-pointer"
            [ngClass]="{
              'bg-cards': this.idSelectedProyect == p.idProyect
            }"
            (click)="changeProyect(p.idProyect)"
          >
            <ng-icon [name]="p.iconName? p.iconName : 'heroFolder'" class="text-xl" [ngClass]="[p.color? 'text-'+p.color: 'text-textC']"></ng-icon>
            <span class="text-sm" [ngClass]="'text-'+p.color">{{ p.name }}</span>
          </li>
        </ul>
      </div>
      <div class="flex flex-col">
        <h3
          class="flex w-full justify-between text-lg pb-4 font-semibold text-secondary"
        >
          Filters

          <ng-icon name="heroFunnel" class="text-2xl pt-1 text-textC"></ng-icon>
        </h3>
        <ul class="list-none flex flex-col gap-2">
          <li
            class="flex items-center text-textC gap-2 px-2 py-2 rounded-xl bg-cards hover:text-textCHover cursor-pointer"
          >
            <ng-icon name="heroInbox" class="text-xl text-textC"></ng-icon>
            <span class="text-sm">All</span>
          </li>
          <li
            class="flex items-center text-textC gap-2 px-2 py-2 rounded-xl hover:bg-cards hover:text-textCHover cursor-pointer"
          >
            <ng-icon name="heroStar" class="text-xl text-textC"></ng-icon>
            <span class="text-sm">Started</span>
          </li>
          <li
            class="flex items-center text-textC gap-2 px-2 py-2 rounded-xl hover:bg-cards hover:text-textCHover cursor-pointer"
          >
            <ng-icon
              name="heroCalendarDays"
              class="text-xl text-textC hover:text-textCHover"
            ></ng-icon>
            <span class="text-sm">Today</span>
          </li>
        </ul>
      </div>
    </div>

    <!--Tasks list-->
    <div
      class="flex flex-col justify-between min-h-[420px] bg-primary pt-5 pb-4 px-7 rounded-2xl w-full shadow-lg"
    >
      <h3 class="text-lg pb-4 font-semibold text-secondary">Tasks</h3>

      <proyect-list *ngIf="findProyect() != undefined" [proyect]="findProyect()" class="h-full"></proyect-list>
    </div>
  </div>
</div>
<app-add-proyect *ngIf="this.viewMode != 'none'" [submitNewProyect]="submitNewProyect" [changeViewMode]="changeViewMode"></app-add-proyect>
<ngx-ui-loader
  bgsColor="#3d0976"
  fgsColor="#724af3"
  bgSize="540"
  blur="5"
  text="Cargando proyectos"
  textPosition="center-center"
  bgsPosition="center-center"
  bgsType="wandering-cubes"
  fgsType="three-strings"
>
</ngx-ui-loader>